* {
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: #fff;
}

main {
  margin: auto;
  padding: 20px;
}

input {
  width: 100%;
  margin: 5px;
  max-width: 500px;
  display: block;
}

#buttonsZone {
  display: flex;
}

#buttonsZone button {
  margin: 5px;
}

#videosZone {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 500px) {
  #videosZone {
    flex-direction: row;
  }
}

#videosZone div {
  margin: 20px;
}


.loginButton {
  width: 40px;
  height: 40px;
  border: none;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 5px;
}
.twitterButton {
  background-image: url("twitter-icon.svg");
}
.aadButton {
  background-image: url("microsoft-icon.svg");
}
.githubButton {
  background-image: url("github-icon.svg");
}
#loginZone {
  display: none;
}
#logoutZone {
  display: none;
}
#acsZone {
  display: none;
}
#acsVideoZone {
  display: none;
}